<body>
  <div class="main_div">
    <div class="title">Login Form</div>
    <!-- <div class="social_icons">
      <a href="#"><i class="fab fa-facebook-f"></i> <span>Facebook</span></a>
      <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
    </div>  -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <div class="input_box">
        <span class="unmae">Username</span>
        <input type="text" placeholder="Enter your Email or Phone" formControlName="userName" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.userName.errors}" required>
        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
          <div *ngIf="f.userName.errors.required">Username is required</div>
        </div>
      </div>
    </div>
      <div class="input_box">
        <span class="pwd">Password</span>
        <input type="password" placeholder="Enter your Password" formControlName="password" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.password.errors}" required>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      
      <div class="input_box button">
        <input type="submit" value="Login">
      </div>
      
    </form>
  </div>
  
</body>

